/* * {
    margin: 0;
    padding: 0;
} */

.navbar {
    background-color: #250630;
    /* background-image: linear-gradient(to left, #250630, #3d1464); */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 70px;
    position: relative;
    padding-top: 15px;
    padding-left: 30px;
}

.navbar li {
    list-style: none;
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: rgb(238, 186, 16);
    font-size: 30px;
}

#ab {
    padding-left: 0px;
    padding-right: 4px;
    text-align: left;
    font-weight: 500;
    word-spacing: 10%;
}

#help {
    font-weight: 100;
}

#help a:hover {
    text-decoration: underline;
    color: rgb(252, 250, 250);
}

#ab a:hover {
    color: rgb(252, 250, 250);
}

.button {
    justify-content: flex-end;
    align-items: center;
    margin-left: 35%;
}

#b2 {
    background-color: #250630;
    padding: 10px 20px;
    margin-left: 16px;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: solid rgb(248, 220, 7);
    border-radius: 10px;
    color: rgb(248, 220, 7);
}



#b1 {
    background-color: rgb(37, 6, 48);
    padding: 10px 20px;
    color: rgb(248, 220, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: solid rgb(248, 220, 7);
    border-radius: 10px;
}

#b1:hover {
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 3px 1px rgb(160, 39, 187);
    border: solid rgb(160, 39, 187);
}

#b2:hover {
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 3px 1px rgb(160, 39, 187);
    border: solid rgb(160, 39, 187);
}

#b1:hover {
    cursor: pointer;
}

#img1 {
    width: 30px;
}

img:hover {
    cursor: pointer;
}

.container {
    background-color: rgb(43, 13, 55);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 400px;
}

#h1 {
    font-size: 80px;
    font-weight: lighter;
    color: rgb(238, 186, 16);
}

#h1:hover {
    color: white;
    border: solid rgb(243, 38, 219);
    background-color: rgb(36, 11, 44);
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(243, 38, 219);
}

#search {
    font-size: 20px;
    width: 800px;
    height: 60px;
    border-radius: 5px;
    border: solid rgb(123, 118, 118);
    padding-left: 15px;
}

#searchbt {
    position: absolute;
    right: 25%;
    top: 57%;
    border: none;
    color: rgb(14, 13, 13);
    cursor: pointer;
    font-weight: 800;
    font-size: 50px;
    background-color: rgb(197, 205, 240);
    height: 5px;
    width: 15px;

}


.grid {
    display: grid;
    height: 400px;
    grid-template-columns: 100px 350px 100px 350px;
    grid-column-gap: 30px;
    grid-row-gap: 5px;
    padding: 100px;
    /* padding-top: 150px;
    padding-right: 200px; */
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding-bottom: 230px;
}

.img {
    width: 80px;
}

.head {
    font-size: 25px;
}

.para {
    font-size: 25px;
    font-weight: lighter;
}

.head:hover {
    color: rgb(160, 39, 187);
}

.para:hover {
    color: rgb(160, 39, 187);
}

.link a {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(102, 102, 234);
}

.fd {
    background-color: white;
    height: 300px;
}

.footer {
    height: 400px;
    width: 1250px;
    background-color: rgb(37, 6, 48);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    justify-content: space-evenly;
    text-align: center;
}

.block {
    width: 120px;
    height: 150px;
}

#hbt {
    font-size: 20px;
    height: 45px;
    width: 110px;
    background-color: rgb(74, 33, 115);
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#hbt:hover {
    background-color: rgb(36, 11, 44);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgb(243, 38, 219);
}

.footpara {
    color: rgb(238, 186, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: rgb(43, 13, 55);
}

a {
    color: rgb(238, 186, 16);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: rgb(80, 54, 183);
}

#block5 {
    width: 300px;
    margin-top: 30%;
    margin-left: 40%;
}

#imgcopy {
    width: 40px;
}

#copypara {
    color: rgb(238, 186, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer {
    grid-row-start: 1;
    grid-row-end: 5;
}